<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Text converter</title>
</head>
<body>
<h1>BBCode to HTML converter</h1>
<form th:action="@{/convert}" method="post">
    <p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbXTXZOpg4f06lWwiH6wjVjWz5QUTa_lzEUPjgkNxHdqjHy-HFXQ" hspace="80">
    </p>
    <p><b>Enter Yout text in BBCode format:</b></p>
    <p>
        <textarea rows="7" cols="55" name="text"></textarea>
    </p>
    <p>
        <button type="submit" th:hspace="120">Convert</button>
    </p>
</form>
</body>
</html>